

<a id= "watson" class= "btn btn-danger btn-md"> start watson <i class= "fa fa-angle-right"></i></a>
<audio>
    <source src= "/asset/audios/watson.mp3" type= "audio/mpeg">
</audio>

<script>
    $('#watson').on("click", ()=> {
        var audio = $('audio').get(0);
        audio.paused? audio.play():audio.pause()
        audio.paused? $('watson').text("play"):$('watson').text('pause')
    })
</script>