<a id= "watson" class= "btn btn-danger btn-md"> start watson <i class= "fa fa-angle-right"></i></a>

<audio id= "watsonAudio">
    <source src="<%= audio_path 'watson.mp3' %>" type='audio/mp3'>
</audio>

<script>
  

    $(document).ready(function() {
        var playing = false;
        $.ajax("/speak");
        
        $('#watson').click(function() {
            if (playing == false) {
                document.getElementById('watsonAudio').play();
                playing = true;
                $('#watson').text("stop sound");

            } else {
                document.getElementById('watsonAudio').pause();
                playing = false;
                $('#watson').text("restart sound");
            }
        });
    });
      
</script>