<div id="mapDiv" style='width: 900px; height: 800px; margin:0 auto;'></div>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//underscorejs.org/underscore-min.js' ></script>

<script> 

    window.addEventListener('load', function () {
        initBuildingMap();
    });

   function initBuildingMap(){

        handler = Gmaps.build('Google');
        handler.buildMap({
            provider: {
            disableDefaultUI: true
            // pass in other Google Maps API options here
            },
            internal: {
                id: 'mapDiv'
            },
            gestureHandling: 'cooperative'

        },
            function(){
                markers = handler.addMarkers([
                {
                    "lat": 0,
                    "lng": 0,
                    "picture": {
                // "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
                    "width":  32,
                    "height": 32
                    },
                    "infowindow": "hello!"
                }
                ]);
                var centermap = {lat: 50.99900686020409, lng: -104.81351473540462};
                var options ={
                            mapTypeControl: true,
                            mapTypeControlOptions: {
                                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                                position: google.maps.ControlPosition.TOP_CENTER
                            },
                            zoomControl: true,
                            zoomControlOptions: {
                                position: google.maps.ControlPosition.RIGHT_BOTTOM
                            },
                            scaleControl: true,
                            streetViewControl: true,
                            streetViewControlOptions: {
                                position: google.maps.ControlPosition.LEFT_TOP
                            },
                            fullscreenControl: true
                    }
                
                
                handler.fitMapToBounds();
                handler.getMap().setCenter(centermap);
                handler.getMap().setZoom(4);
                handler.getMap().setOptions(options)
                markers = handler.addMarkers(<%=raw @hash.to_json%>);
                handler.bounds.extendWith(markers);


                //var infowindow = new google.maps.InfoWindow({content:contentString});
            }
    );

        

    }

</script>
<script>console.log("arrive at map APi KEY")</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAPS_API"]%>&callback=initBuildingMap"></script>
<script>console.log(<%=ENV["GOOGLE_MAPS_API"]%>)</script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->